body{
    background-color: #1C1C1C;
    color: #E0E0E0;
}

header{
    font-family: "Eater", sans-serif;
    font-size: 40px;
}
section{
    background-color: #2E2E2E;
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.texto{
    margin-right: 5%;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 5px solid #FFC0CB;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10x;
}
.lista{
    background-color: rgba(255, 255, 255, 0.63);
}
